/*body {
	width: 1440px;
    height: 1024px;
    background-color: #F2F8FF;
}

.left-bar {
	width: 350px;
	height: 1021px;
	flex-shrink: 0;
	align-items: center;
}
.right-bar {
	width: 350px;
	height: 1021px;
	flex-shrink: 0;
	align-items: center;
	margin:0 20px;
	background: #FBFDFF;
}

.middle {
	width: 80%;
	height: 1021px;
	flex-shrink: 0;
	align-items: center;
	background: #FBFDFF;
}

.logo {
	color: #4062FF;
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	margin:34px 57px ;
}

.left-bar ul {
	margin: 20px;
}
.left-bar ul li{
	margin: 40px;
}*/

.logo {
	/*width: 24px !important;
	height: 26.824px !important;*/
	flex-shrink: 0 !important;
	display: flex !important;
	align-items: left !important;

   
}

.icon {
	width: 24px;
	height: 24px;
	flex-shrink: 0;
	fill: #B8BED9;
}

.student_dashboard_link{
	display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 0.625rem 1.5rem;
    color: var(--vz-vertical-menu-item-color);
    font-size: .925rem;
    font-family: Rubik,sans-serif;
    margin: 20px;
    margin-top: 10px !important;
    border-radius: 16px;

}

.student_dashboard_link:hover {
	width: 225.378px;
	height: 64px;
	flex-shrink: 0;
	border-radius: 16px;
	background: #4062FF;
	color: #fff !important;
	margin: 15px;
}

.subject_icon_background {
	width: 48px;
	height: 48px;
	flex-shrink: 0;
	border-radius: 16px;
	background: #F0B90B;
	box-shadow: 0px 0px 20px 0px rgba(142, 143, 145, 0.04);

}

.subject_user_text {
	color: var(--grey-500, #919EAB);
	font-family: Poppins;
	font-size: 13px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
}

.subject_subject_text{
	color: var(--common-black, #000);
	font-family: Poppins;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
.logo_s_text {
	display: flex;
	align-items: center;
}
.textSubjectName {
	padding-top: 14px;
}
.carousel-inner .carousel-item img {
	visibility: hidden;
}
.advertisementText h2{
	color: var(--common-white, #FFF);
font-family: Poppins;
font-size: 26px;
font-style: normal;
font-weight: 500;
line-height: normal;
padding: 40px;

}
.carousel-inner .carouselButton {
	display: flex;
width: 197px;
padding: 16px 24px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 16px;
background: #40BAFF;
margin: 40px;
}

.carousel-control-prev-icon {
	margin-top: 350px;
	display: block;
    width: 10rem;
    height: 2rem;
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: 50% 100%;
}

.carousel-control-next-icon  {
	margin-top: 350px;
}

.pagination {
/*	margin: 0px auto;*/
	float: right;
/*	width: 800px;*/
}

.page-link {
	font-size: 16px;
}

.dropdown, .dropdown-center, .dropend, .dropstart, .dropup, .dropup-center {
    position: relative;
    margin-top: 0;

}

.dropdown{
	margin:0px;
	padding: 0;
}

.profile_card_main {
	/*margin-left: 20px !important;
	margin-right: 20px !important;*/
	margin-top: 20px;
}

.profile_card{
	width: 255px;
	flex-shrink: 0;
	border-radius: 24px;
	background: #4062FF;
}

.text_test {
	color: var(--common-black, #000);
	font-family: Poppins;
	font-size: 24px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	float: left;
}
.topbar-user {
     background-color: none !important; 
}

.caption {
      position: absolute;
      width: 108px;
      height: 108px;
      right: 60%;
      color: #ffffff;
      padding: 0px;
      top: 75px;
    }


.profile_card h4 {
	margin-left: 55px;
	color: #fff;
	padding-left: 45px;
	
}
.profile_card {
	padding-top: 30px!important;
	padding-left: 10px!important;
	padding-bottom: 1px!important;
}
.user_bottom_text{
	padding-top: 50px;
	color: #fff;
	display: flex;
	justify-content: space-between;
} 
.profile_card div p {
	margin-bottom: 8px!important;
}

.user_bottom_icon {
    width: 80px;
    /* height: 28px; */
    flex-shrink: 0;
    border-radius: 26px;
    background: #4081FF;
    color: var(--common-white, #FFF);
    text-align: right;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1px;
    position: relative;
    float: right;
    margin-left: 38px;
}

